html, body {
  padding: 0;
  margin: 0;
}

html {
  font-size: 20px;
}

body {
  background-color: hsl(60, 43%, 96%);
  color: hsl(0, 0%, 20%);
  font-family: sans-serif;
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

body>* {
  grid-column: 2;
}

header,
main,
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  background-color: hsl(63, 40%, 91%);
  grid-column: 1 / -1;
  padding: 1rem;
}

header>*,
main>*,
footer>* {
  width: 100%;
  max-width: 600px;
}

main {
  padding: 1rem;
}

h1, h2 {
  color: hsl(16, 100%, 29%);
  font-weight: normal;
}

h1 {}

a {
  color: hsl(0, 0%, 20%);
}

p {}

ul {
  padding: 0;
  list-style: none;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

li:not(:last-of-type) {
  margin-right: 0.5rem
}

li a {
  color: hsl(16, 100%, 29%);
}

img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

footer {
  grid-column: 1 / -1;
  text-align: center;
  padding: 1rem;
  background-color: hsl(63, 42.2%, 91.2%);
}

.date {
  font-size: 0.75rem;
  color: hsl(0, 0%, 33%);
}

@media screen and (max-width: 812px) and (orientation: landscape) {
  body {
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr auto;
  }

  header {
    grid-row: 1 / -1;
    grid-column: 1 / auto;
  }

  h1 {
    margin: 0.75rem 0 0.75rem 0;
  }

  ul {
    flex-direction: column;
    position: -webkit-sticky;
    position: sticky;
  }

  li {
    line-height: 1.5rem;
    margin: 0;
  }

  footer {
    grid-column-start: auto;
    background-color: transparent;
  }
}