html, body {
  padding: 0;
  margin: 0;
}

html {
  font-size: 20px;
}

body {
  background-color: hsl(60, 43%, 96%);
  color: hsl(0, 0%, 20%);
  font-family: sans-serif;
  display: grid;
  grid-template-columns: auto minmax(300px, 600px) auto;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

body>* {
  grid-column: 2;
}

header,
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  background-color: hsl(63, 42.2%, 91.2%);
  grid-column: 1 / -1;
  padding: 1rem;
}

header>*,
footer>* {
  width: 100%;
  max-width: 600px;
}

main {}

h1, h2 {
  color: hsl(15.5, 67.7%, 44.9%);
  font-weight: normal;
}

h1 {}

a {
  color: hsl(0, 0%, 20%);
  /* text-decoration: none; */
}

p {}

ul {
  padding: 0;
  list-style: none;
  margin: 0;
  display: flex;
}

li a {
  color: hsl(15.5, 67.7%, 44.9%);
}

img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

footer {
  grid-column: 1 / -1;
  text-align: center;
  padding: 1rem;
  background-color: hsl(63, 42.2%, 91.2%);
}

.date {
  font-size: 0.75rem;
  color: hsl(0, 0%, 45%);
}