{% extends "base.njk" %}

{% block head %}
    {# TODO: Wire up SASS and inline critical CSS as well importing relevant CSS for this skin #}
    <link rel="stylesheet" type="text/css" href="styles.css">
{% endblock %}