html, body {
  padding: 0;
  margin: 0;
}

html {
  font-size: 20px;
}

body {
  background-color: hsl(60, 43%, 96%);
  color: hsl(0, 0%, 20%);
  font-family: sans-serif;
  min-height: 100vh;
  padding: 1rem;
}

body > * {
  margin-bottom: 2rem;
}

section > :not(:last-child) {
  margin-bottom: 1rem;
}

h1, section {
  width: 100%;
}

h1, h2 {
  color: hsl(15.5, 67.7%, 44.9%);
  text-shadow: 1px 1px 0px #000;
  font-weight: normal;
  line-height: 1;
}

h1, h2, p {
  max-width: 65ch;
}

a {
  color: hsl(0, 0%, 20%);
}


@media screen and (min-width: 600px) {
  h1 {
    font-size: 3rem;
  }
}